@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Home" asp-action="Index">Owners</a></p>
    <p><a asp-controller="Vehicles" asp-action="Index">Vehicles</a></p>
    <p><a asp-controller="Claims" asp-action="Index">Claims</a></p>
</div>
